:root {
  --footer-bg: #e6f7f9;
  --text-footer: #1f2933;
}

/* ===== FOOTER ===== */
.footer {
  margin-top: 150px;
  padding: 50px 20px;
  border-top: 2px solid rgb(63, 147, 158);
  border-radius: 12px 12px 0 0;
  text-align: center;
  background: var(--footer-bg);
}

.copy {
  font-size: 15px;
  opacity: 0.8;
  color: var(--text-footer);
}
